html,
body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
}
.boxMilieu{
    display: flex;
    justify-content: center;
    align-items: center;    
}

/* la section de navigation et de rechercher */
}
.elementAutour{
    display: flex;
  justify-content: space-around;
  align-items: center;
}
.decoration0 {
    text-decoration: none;
}

.flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Bordure0{
    border: none;
}
.blue{
    color: #0065fc;
}
.blueWhite{
    color: #dbeeff;
}
.grey{
    color: #f2f2f2f3;
}
.ArrBlue{
    background-color: #0065fc;
}
.ArrBlueWhite{
    background-color: #dbeeff;
}
.ArrGrey{
    background-color: #f2f2f2fa;
}
.tailleDesenteteliens{
    width: 45%;
   
}
.Tx_Gras {
    font-weight: bold;
  }

.tailleDesentetelien{
    width: 140px;
    height: 99px;

}
        

.colorA{
    color: black;
}

.Navbordure{
    border-top: 1px solid blue;
}
.heighNave{
    height: 100px;
}
.sizeLien12 {
    margin-left: 60%;
  }
  .colorLien2 {
    color: black;
  }
  .sizeLien {
    width: 140px;
    height: 99px;
 }

.searchBoder{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}
.cadreSearch{
    padding-left: 20px;
    
}
.search{
    height: 50px;
    width: 230px;
    font-size:18px;
    color: black;
    font-weight: bold;
}

.T_icone{
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
}
.boutton_search{
    height: 50px;
    width: 120px;
    color:white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
/*la section des filtre de recherche*/
.disposyFiltre{
    display: flex;
    align-items: center;
}
.formFiltre{
    margin-top: 50px;
    margin-bottom:40px;
}
.Filtre{
    margin-right: 20px;
    

}
.Icone_filtre{
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    
}
.F_icones{
    margin: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065fc;
    background-color: #f2f2f2;   
}
.Icone_filtre:hover > .T_filtre{
    color: #0065fc;
}
.Icone_filtre:hover > .F_icones{
    color: white;
    background-color: #0065fc;
}
.T_filtre{
    height: 50px;
    padding-left:20px ;
    padding-right:20px;
    border-radius: 0 25px 25px 0;
}
.icone_Info{
    color: #0065fc;
}
.style_Icone{ 
    display: flex;
    align-items: center;
     margin: -2px;
}
.cercle_icone{
    width: 20px;
    height: 20px;
    border: 2px solid #dbeeff;
    border-radius: 25px;
    margin-right: 5px;
}
.Center{
    display: flex;
  justify-content: center;
  align-items: center;
}
/* section hébergement*/
.T_hébergement{
    flex: 2;
    height: 750px;
    margin-right: 15px;
    border-radius: 10px;

}
.blocHéberge1{
    margin-bottom: 10px;
    
  }
.blocHéberge2{
    margin-top: 10px;
  }

.T_populaire{
    flex: 1;
    height: 750px;
    margin-left: 20px;
    border-radius: 10px;
}
.img_1{
    background-image: url("./hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-size: center;
    width: 100%;
    height: 160px;
    border-radius: 15px 15px 0 0;
}
.img_2{
    background-image: url("./hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-size: center;
    width: 100%;
    height: 160px;
    border-radius: 15px 15px 0 0;
}
.img_3{
    background-image: url("./hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-size: center;
    width: 100%;
    height: 160px;
    border-radius: 15px 15px 0 0;
}
.img_4{
    background-image: url("./hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-size: center;
    width: 100%;
    height: 170px;
    border-radius: 15px 15px 0 0;

}
.img_5{
    background-image: url("./hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-size: center;
    width: 100%;
    height: 160px;
    border-radius: 15px 15px 0 0;
}
.img_6{
    background-image: url("./hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-size: center;
    width: 100%;
    height: 160px;
    border-radius: 15px 15px 0 0;
}
.dispo_hébergements{
    padding-right: 20px;
    padding-left: 20px;
}
.alignements_hébergmentsMilieu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.alignements_hébergmentsAutour{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}
.alignements_hébergmentsBetween{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
}   
.CadreImage {
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
  }
  .Populaire{
    padding-left: 20px;
    padding-right: 20px;
  }
  .imgPop1{
    background-image: url("./hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-size: center;
    width: 35%;
    height: 170px;
    border-radius: 15px 0 0 15px;
  }
  .imgPop2{
    background-image: url("./hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-size: center;
    width: 35%;
    height: 170px;
    border-radius: 15px 0 0 15px;
  }
  .imgPop3{
    background-image: url("./hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-size: center;
    width: 35%;
    height: 170px;
    border-radius: 15px 0 0 15px;
  }
  
  .BoxPop{
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
  }
  .espacementPop{
    margin-bottom: 30px;

  }
  /* début de la partie activités à Marseille*/
  .box_Activ{
    width: 100%;
    height: 600px;
  }
  .Activités{
    margin-top: 50px;
    margin-bottom: 50px;
 }
 /* les images des activités sur Marseille*/
 .imgAct_1{
    background-image: url("./activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 0px 0px;
 }
 .imgAct_2{
    background-image: url("./activites/1_xlarge/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
 }
 .imgAct_3{
    background-image: url("./activites/1_xlarge/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
 }
 .imgAct_4{
    background-image: url("./activites/1_xlarge/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
 }
 .imgAct_5{
    background-image: url("./activites/1_xlarge/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
 }
 .imgAct_6{
    background-image: url("./activites/1_xlarge/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
 }
 .flexActivités{
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
 }
 .high_title{
     height: 70px;
 }
 .title_Activ{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
 }
/* dispositions des blocs 2;3 et 5;6*/
.dispobloActiv{
    width: 23%;
    height: 600px;
  }
.cubeActivity {
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
  }
.cubeActivity:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
.imgAct_1:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  .imgAct_4:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  .BoxPop:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  .CadreImage:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  .cubeDetailsPopulaires {
    padding-left: 35%;
  }
  .box_footer{
    height: 300px;
    margin-top: 100px;
    background-color:  #f2f2f2f3;;
    
  }
  .margeBlocFoot1 {
    margin-left: 5%;
  }
  .margeBlocFoot3 {
    margin-right: 15%;
}

.T_BlocFoot{
    height: 150px;
  }